@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-Regular.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-Light.ttf');
	font-weight: 300;
}

@font-face {
	font-family: 'Alegreya';
	src: url('../fonts/Alegreya-Regular.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'Alegreya';
	src: url('../fonts/Alegreya-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Light.ttf');
	font-weight: 300;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

header {
	background: #000 url('../images/header.jpg') no-repeat center;
	background-size: cover;
}

nav {
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}

#logo h1 {
	font-size: 30px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
	color: #fff;
	text-transform: uppercase;

}

#logo span {
	border-bottom: 4px solid #3366cc;
}

#menu {
	cursor: pointer;
}

#search form {
	padding-top: 195px;
	padding-bottom: 140px;
	margin: 0 auto;
  	max-width: 550px;
}

#search form input[type=text] {
  outline: none;
  padding: 20px;
  font-size: 18px;
  border: none;
  float: left;
  width: 415px;
  background: #f1f1f1;
  color: #6074dc;
}

#search form input[type=text]::placeholder {
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	color: #6074dc;
}

#search form button {
  float: left;
  width: 90px;
  padding: 12px 25px;
  outline: none;
  background: rgba(56, 83, 216, 0.9);
  color: white;
  font-size: 18px;
  cursor: pointer;
  border: none;
}

#search form button:hover {
  opacity: 1;
}

#search form::after {
  content: "";
  clear: both;
  display: table;
}

aside h2 {
	margin: 65px 0 0 0;
	font-family: 'Alegreya', sans-serif;
	font-weight: bold;
	color: #080c1e;
	text-transform: uppercase;
	font-size: 30px;
	border-bottom: 2px solid #3366cc;	
}

#main-wrapper .container {
	display: flex;
	justify-content: space-between;
	align-content: center;
}

aside {
	width: 20%;
}

main {
	width : 75%;
}

aside ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

aside li {
	padding: 20px 0;
	border-bottom: 1px solid #e9e9e9;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
	transition: padding 0.3s ease-in-out;
} 

aside li:hover{
	background-color: #e9e9e9;
	padding-left: 10px;
}

aside li a {
	color: #070505;
}

aside li a:hover {
	color: #536add;
}

article {
	margin-bottom: 70px;
}

article:first-child {
	margin-top: 105px;
}

.photo-wrapper {
	position: relative;
}

.post-photo {
	width: 100%;
}

.post-photo img {
	width: 100%;
}

.post-date {
	font-family: 'Alegreya', sans-serif;
	font-weight: bold;
	font-size: 24px;
	color: #fff;
	padding: 7px 10px;
	line-height: 26px;
	background-color: #2d4cb4;
	opacity: 0.93;
	position: absolute;
	text-align: center;
	top: 20px;
	left: 20px;
}

article b {
	text-transform: uppercase;
}

.post-statistic {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	color: #3366cc;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}

.post-author {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.author-name {
	padding: 0 10px;
}

.post-title {
	font-family: 'Alegreya', sans-serif;
	font-weight: bold;
	font-size: 26px;
	color: #080c1e;
}

.post-title p {
	margin: 0;
	margin-bottom: 30px;
}

article a {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	padding: 15px 39px;
	background-color: #3366cc;
	color: #fff;
	text-transform: uppercase;
}

#pagination {
	width: 50%;
}

#pagination ul {
	display: flex;
	list-style: none;
	padding: 0;

}

#pagination li {
	padding: 20px;
}

#pagination li:hover {
	background-color: #3366cc;

}

#pagination li:hover a{
	color: #fff;
}

.active {
	background-color: #3366cc;
}


#pagination .active a {
	color: #fff!important;
}

#pagination a {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #080c1e;
}

#newsletter {
	background: #000 url('../images/footer.jpg') no-repeat center;
	background-size: cover;
	padding: 95px 0;
}

#newsletter p {
	font-family: 'Alegreya', sans-serif;
	font-weight: normal;
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	line-height: 22px;
	text-align: center;
}

#newsletter p span {
	text-transform: none;
}

#email form {
	margin: 0 auto;
  	max-width: 550px;
  	padding-top: 25px;
}

#email form input[type=email] {
  outline: none;
  padding: 20px;
  font-size: 18px;
  border: none;
  float: left;
  width: 415px;
  background: #f1f1f1;
  color: #6074dc;
}

#email form input[type=email]::placeholder {
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	color: #6074dc;
}

#email form button {
  float: left;
  width: 90px;
  padding: 20px 25px;
  outline: none;
  background: rgba(56, 83, 216, 0.9);
  color: white;
  font-size: 18px;
  cursor: pointer;
  border: none;
}

#email form button:hover {
  opacity: 1;
}

#email form::after {
  content: "";
  clear: both;
  display: table;
}

#copyright {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	padding: 190px 0 40px 0;
}
